<a href="https://colab.research.google.com/github/m-chaves/test/blob/master/practical_work3_basic_algorithms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Defining a Dictionary
](https://realpython.com/python-dicts/)

Dictionaries are Python’s implementation of a data structure that is more generally known as an associative array. A dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value.

You can define a dictionary by enclosing a comma-separated list of key-value pairs in curly braces ({}). A colon (:) separates each key from its associated value:


```
d = {
    <key>: <value>,
    <key>: <value>,
      .
      .
      .
    <key>: <value>
}
```

The following defines a dictionary that maps a value to the each name (rock,paper,scissors):

In [ ]:
game_dict = {'rock': 1, 'scissors': 2, 'paper': 3}

You can also construct a dictionary with the built-in dict() function. The argument to dict() should be a sequence of key-value pairs. A list of tuples works well for this:

In [ ]:
game_dict = dict([
    ('rock', 1),
    ('paper', 3),
    ('scissors',2)
])

It can also be defined this way:

If the key values are simple strings, they can be specified as keyword arguments.

In [ ]:
game_dict = dict(paper=3,scissors=2,rock=1)

The entries in the dictionary display in the order they were defined. But that is irrelevant when it comes to retrieving them. Dictionary elements are not accessed by numerical index:

In [ ]:
game_dict[1]

KeyError: ignored

A value is retrieved from a dictionary by specifying its corresponding key in square brackets ([]):

In [ ]:
game_dict['rock']

1

Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

In [ ]:
game_dict.items()

dict_items([('paper', 3), ('scissors', 2), ('rock', 1)])

In [ ]:
game_dict['sink'] = 10000

If you want to update an entry, you can just assign a new value to an existing key:

In [ ]:
game_dict['sink'] = 4

To delete an entry, use the del statement, specifying the key to delete:

In [ ]:
del game_dict['sink']

In [ ]:
game_dict.items()

dict_items([('paper', 3), ('scissors', 2), ('rock', 1)])

##Building a Dictionary Incrementally

Defining a dictionary using curly braces and a list of key-value pairs, as shown above, is fine if you know all the keys and values in advance. But what if you want to build a dictionary on the fly?

You can start by creating an empty dictionary, which is specified by empty curly braces. Then you can add new keys and values one at a time

In [ ]:
person = {}
print(type(person))

person['fname'] = 'Joe'
person['lname'] = 'Fonebone'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'} 
print(person.items())

<class 'dict'>
dict_items([('fname', 'Joe'), ('lname', 'Fonebone'), ('age', 51), ('spouse', 'Edna'), ('children', ['Ralph', 'Betty', 'Joey']), ('pets', {'dog': 'Fido', 'cat': 'Sox'})])

Retrieving the values in the sublist or subdictionary requires an additional index or key

In [ ]:
person['children'][-1]

'Joey'

In [ ]:
person['pets']['cat']

'Sox'

This example exhibits another feature of dictionaries: the values contained in the dictionary don’t need to be the same type. In person, some of the values are strings, one is an integer, one is a list, and one is another dictionary.

Just as the values in a dictionary don’t need to be of the same type, the keys don’t either:

In [ ]:
foo = {42: 'aaa', 2.78: 'bbb', True: 'ccc'}

In [ ]:
print(foo[42])
print(foo[True])
print(foo[2.78])

aaa
ccc
bbb

##Restrictions on Dictionary Keys

Almost any type of value can be used as a dictionary key in Python. You just saw this example, where integer, float, and Boolean objects are used as keys. 

However, there are a couple restrictions that dictionary keys must abide by.

First, a given key can appear in a dictionary only once. Duplicate keys are not allowed. A dictionary maps each key to a corresponding value, so it doesn’t make sense to map a particular key more than once.

You saw above that when you assign a value to an already existing dictionary key, it does not add the key a second time, but replaces the existing value:

Similarly, if you specify a key a second time during the initial creation of a dictionary, the second occurrence will override the first.

##Operators and Built-in Functions

You have already become familiar with many of the operators and built-in functions that can be used with strings, lists, and tuples. Some of these work with dictionaries as well.

For example, the in and not in operators return True or False according to whether the specified operand occurs as a key in the dictionary:

In [ ]:
game_dict['z']

KeyError: ignored

In [ ]:
game_dict.get('z')

In [ ]:
game_dict.items()

dict_items([('paper', 3), ('scissors', 2), ('rock', 1)])

In [ ]:

#d.clear() empties dictionary d of all key-value pairs:
#d.get(<key>[, <default>])
print(game_dict.get('rock'))
print(game_dict.get('z')) # returns None 
print(game_dict.get('z', -1))
#d.items() returns a list of key-value pairs in a dictionary.
print(list(game_dict.items()))
#d.keys() returns a list of all keys in d:
print(game_dict.keys())
#d.values() returns a list of all values in d: Any duplicate values in d will be returned as many times as they occur:
print(game_dict.values())
#d.pop(<key>[, <default>]) Removes a key from a dictionary, if it is present, and returns its value.
print(game_dict.pop('rock'))
print(game_dict.values())
#d.popitem() Removes a key-value pair from a dictionary.
#d.update(<obj>) Merges a dictionary with another dictionary or with an iterable of key-value pairs.
game_dict2 = {'rock':1,'paper':30}
game_dict.update(game_dict2)
print(game_dict.items())
print(game_dict['rock'])

1
None
-1
[('paper', 3), ('scissors', 2), ('rock', 1)]
dict_keys(['paper', 'scissors', 'rock'])
dict_values([3, 2, 1])
1
dict_values([3, 2])
dict_items([('paper', 30), ('scissors', 2), ('rock', 1)])
1

##[Defining a function ](https://www.tutorialspoint.com/python/python_functions.htm)

A function is a block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity for your application and a high degree of code reusing.

As you already know, Python gives you many built-in functions like print(), etc. but you can also create your own functions. These functions are called user-defined functions.
Defining a Function

You can define functions to provide the required functionality. Here are simple rules to define a function in Python.

    * Function blocks begin with the keyword def followed by the function name and parentheses ( ( ) ).

    * Any input parameters or arguments should be placed within these parentheses. You can also define parameters inside these parentheses.

    * The first statement of a function can be an optional statement - the documentation string of the function or docstring.

    * The code block within every function starts with a colon (:) and is indented.

    * The statement return [expression] exits a function, optionally passing back an expression to the caller. A return statement with no arguments is the same as return None.

Syntax

```
def functionname( parameters ):
   "function_docstring"
   function_suite
   return [expression]
```

By default, parameters have a positional behavior and you need to inform them in the same order that they were defined.

In [ ]:
def printme(object1,list_):
   print(np.array(list_))
   "This prints a passed string into this function"
   print(object1)
   return

In [ ]:
import numpy as np
printme('hello',[1,2,3])
printme([1,2,3],'hello')

[1 2 3]
hello
hello
[1, 2, 3]

In [ ]:
def printme(object_):
   "This prints a passed string into this function"
   print(object_)
   return

##Calling a Function

Defining a function only gives it a name, specifies the parameters that are to be included in the function and structures the blocks of code.

Once the basic structure of a function is finalized, you can execute it by calling it from another function or directly from the Python prompt. Following is the example to call printme() function −

In [ ]:
five = printme(5)

5

Pass by reference vs value

All parameters (arguments) in the Python language are passed by reference. It means if you change what a parameter refers to within a function, the change also reflects back in the calling function. For example −

In [ ]:
def changeme( mylist ):
   "This changes a passed list into this function"
   mylist.append([1,2,3,4])
   print("Values inside the function: ", mylist)
   return

# Now you can call changeme function
mylist = [10,20,30]
changeme(mylist)
print("Values outside the function: ", mylist)

Values inside the function:  [10, 20, 30, [1, 2, 3, 4]]
Values outside the function:  [10, 20, 30, [1, 2, 3, 4]]

There is one more example where argument is being passed by reference and the reference is being overwritten inside the called function.

In [ ]:
# Function definition is here
def changeme( mylist ):
   "This changes a passed list into this function"
   mylist = [1,2,3,4] # This would assig new reference in mylist
   print("Values inside the function: ", mylist)
   return

# Now you can call changeme function
mylist = [10,20,30]
changeme( mylist)
print("Values outside the function: ", mylist)

Values inside the function:  [1, 2, 3, 4]
Values outside the function:  [10, 20, 30]

The parameter mylist is local to the function changeme. Changing mylist within the function does not affect mylist. The function accomplishes nothing and finally this would produce the following result −

##Function Arguments

You can call a function by using the following types of formal arguments −

    Required arguments
    Keyword arguments
    Default arguments
    Variable-length arguments

##Required arguments

Required arguments are the arguments passed to a function in correct positional order. Here, the number of arguments in the function call should match exactly with the function definition.

To call the function printme(), you definitely need to pass one argument, otherwise it gives a syntax error as follows −

In [ ]:
# Function definition is here
def printme( string ):
   "This prints a passed string into this function"
   print(string)
   return

# Now you can call printme function
printme()

TypeError: ignored

##Keyword arguments

Keyword arguments are related to the function calls. When you use keyword arguments in a function call, the caller identifies the arguments by the parameter name.

This allows you to skip arguments or place them out of order because the Python interpreter is able to use the keywords provided to match the values with parameters. You can also make keyword calls to the printme() function in the following ways −

In [ ]:
# Function definition is here
def printme( string ):
   "This prints a passed string into this function"
   print(string)
   return

# Now you can call printme function
printme(string = "My string")

My string

In [ ]:
# Function definition is here
def printinfo( name, age ):
   "This prints a passed info into this function"
   print("Name: ", name)
   print("Age ", age)
   return

# Now you can call printinfo function
printinfo(age=50, name="miki" )

Name:  miki
Age  50

##Default arguments

A default argument is an argument that assumes a default value if a value is not provided in the function call for that argument. The following example gives an idea on default arguments, it prints default age if it is not passed −

In [ ]:
# Function definition is here
def printinfo( name, age = 35 ):
   "This prints a passed info into this function"
   print("Name: ", name)
   print("Age ", age)
   return 
# Now you can call printinfo function
five = printinfo( age=50, name="miki" )
printinfo( name="miki" )

Name:  miki
Age  50
Name:  miki
Age  35

In [ ]:
print(five)

None

##Variable-length arguments

You may need to process a function for more arguments than you specified while defining the function. These arguments are called variable-length arguments and are not named in the function definition, unlike required and default arguments.

Syntax for a function with non-keyword variable arguments is this :



```
def functionname([formal_args,] *var_args_tuple ):
   "function_docstring"
   function_suite
   return [expression]
```
An asterisk (*) is placed before the variable name that holds the values of all nonkeyword variable arguments. This tuple remains empty if no additional arguments are specified during the function call. Following is a simple example −

In [ ]:
# Function definition is here
def printinfo( arg1, *vartuple ):
   "This prints a variable passed arguments"
   print("Output is: ")
  #  print(arg1)
   for var in vartuple:
      print(var)
   return

# Now you can call printinfo function
printinfo(10)
printinfo(70, 60, 50 )

Output is:
Output is:
60
50

##The return Statement

The statement return [expression] exits a function, optionally passing back an expression to the caller. A return statement with no arguments is the same as return None.

All the above examples are not returning any value. You can return a value from a function as follows −

In [ ]:
def sum_( arg1, arg2 ):
   # Add both the parameters and return them."
   total = arg1 + arg2
   print("Inside the function : ", total)
   return total,arg1,arg2

# Now you can call sum function
total,arg1,arg2 = sum_( 10, 20 )
result = sum_(10,20)
print("Outside the function : ", total)
print(type(result))

Inside the function :  30
Inside the function :  30
Outside the function :  30
<class 'tuple'>

## Scope of Variables

All variables in a program may not be accessible at all locations in that program. This depends on where you have declared a variable.

The scope of a variable determines the portion of the program where you can access a particular identifier. There are two basic scopes of variables in Python −

  * Global variables
  * Local variables

## Global vs. Local variables

Variables that are defined inside a function body have a local scope, and those defined outside have a global scope.

This means that local variables can be accessed only inside the function in which they are declared, whereas global variables can be accessed throughout the program body by all functions. When you call a function, the variables declared inside it are brought into scope. Following is a simple example −

In [ ]:
total = 0; # This is global variable.
# Function definition is here
total2 = 90
def sum_( arg1, arg2 ):
   # Add both the parameters and return them."
   total = arg1 + arg2+total2 # Here total is local variable.
   print("Inside the function local total : ", total)
   return total

# Now you can call sum function
sum_( 10, 20 );
print("Outside the function global total : ", total)

Inside the function local total :  120
Outside the function global total :  0

##[The Anonymous Functions](https://thispointer.com/python-how-to-use-if-else-elif-in-lambda-functions/)


These functions are called anonymous because they are not declared in the standard manner by using the def keyword. You can use the lambda keyword to create small anonymous functions.

  * Lambda forms can take any number of arguments but return just one value in the form of an expression. They cannot contain commands or multiple expressions.

  * An anonymous function cannot be a direct call to print because lambda requires an expression

  * Lambda functions have their own local namespace and cannot access variables other than those in their parameter list and those in the global namespace.

  * Although it appears that lambda's are a one-line version of a function, they are not equivalent to inline statements in C or C++, whose purpose is by passing function stack allocation during invocation for performance reasons.

Syntax

The syntax of lambda functions contains only a single statement, which is as follows −

```
lambda [arg1 [,arg2,.....argn]]:expression

```
Following is the example to show how lambda form of function works −

In [ ]:
sum_ = lambda arg1, arg2: arg1 + arg2 

# Now you can call sum as a function
print("Value of total : ", sum_( 10, 20 ))
print("Value of total : ", sum_( 20, 20 ))

Value of total :  30
Value of total :  40

In [ ]:
test = lambda x : True if (x > 10 and x < 20) else False
print(test(12))
print(test(3))
print(test(24))

True
False
False

Creating conditional lambda function without if else

In [ ]:
lambda x : x > 10 and x < 20
# Lambda function to check if a given vaue is from 10 to 20.
check = lambda x : x > 10 and x < 20
# Check if given numbers are in range using lambda function
print(check(12))
print(check(3))
print(check(24))

True
False
False

Using filter() function with a conditional lambda function (with if else)

filter() function accepts a callback() function and a list of elements. It iterates over all elements in list and calls the given callback() function
on each element. If callback() returns True then it appends that element in the new list. In the end it returns a new list of filtered elements only.

Suppose we have a list of numbers i.e.

In [ ]:
filter??

In [ ]:
listofNum = [1,3,33,12,34,56,11,19,21,34,15]

In [ ]:
test = lambda x : x > 10 and x < 20
test(3)
listofNum = list(filter(lambda x : x > 10 and x < 20, listofNum))
print('Filtered List : ', listofNum)

Filtered List :  [12, 11, 19, 15]

Using if, elif & else in a lambda function

Till now we have seen how to use if else in a lambda function but there might be cases when we need to check multiple conditions in a lambda function. Like we need to use if , else if & else in a lambda function. We can not directly use elseif in a lambda function. But we can achieve the same effect using if else & brackets i.e.


```
lambda <args> : <return Value> if <condition > ( <return value > if <condition> else <return value>)
```

Create a lambda function that accepts a number and returns a new number based on this logic,

  * If the given value is less than 10 then return by multiplying it by 2
  * else if it’s between 10 to 20 then return multiplying it by 3
  * else returns the same un-modified value

In [ ]:
converter = lambda x : x*2 if x < 10 else (x*3 if x < 20 else x)
print('convert 5 to : ', converter(5))
print('convert 13 to : ', converter(13))
print('convert 23 to : ', converter(23))

convert 5 to :  10
convert 13 to :  39
convert 23 to :  23

In [ ]:
converter = lambda x : x*2 if x < 10 else (x*3 if x < 20 else x)

##map():

Syntax:
map(func,iterables)
map() passes each element in the iterable through a function and returns the result of all elements having passed through the function.

func is the function which would be applied on each element present in iterables.

The return type of map() function is a list in python 2. However in python 3 it is a map object. To get a list, built-in list() function can be used : list(map(func,iterables))

Combining map and Lambda:
Suppose we've a mundane task of increasing all the elements of a list by 3 units.

In [ ]:
num_list = [2,3,4,5,6]
increased = list(map(lambda x: x+3 , num_list))
print(increased)

[5, 6, 7, 8, 9]

##[Exercises](https://github.com/garg10may/Python-for-Beginners-Solve-50-Exercises-Live)

1- Double each value in the dictionary



```
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

```

In [ ]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
double_dict1 = {k:v*2 for (k,v) in dict1.items()}
print(double_dict1)

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}

2- Convert a dictionary of Fahrenheit temperatures into celsius.

  * 2-1. Using map and lambda 
  * 2-2 Using dict comprehension

In [ ]:
# Initialize `fahrenheit` dictionary 
fahrenheit = {'t1':-30, 't2':-20, 't3':-10, 't4':0}

#Get the corresponding `celsius` values
celsius = list(map(lambda x: (float(5)/9)*(x-32), fahrenheit.values()))
#Create the `celsius` dictionary
celsius_dict = dict(zip(fahrenheit.keys(), celsius))

print(celsius_dict)

{'t1': -34.44444444444444, 't2': -28.88888888888889, 't3': -23.333333333333336, 't4': -17.77777777777778}

In [ ]:
for i in zip(fahrenheit.keys(), celsius):
  print(i)

('t1', -34.44444444444444)
('t2', -28.88888888888889)
('t3', -23.333333333333336)
('t4', -17.77777777777778)

In [ ]:
# Initialize the `fahrenheit` dictionary 
fahrenheit = {'t1': -30,'t2': -20,'t3': -10,'t4': 0}

# Get the corresponding `celsius` values and create the new dictionary
celsius = {k:(float(5)/9)*(v-32) for (k,v) in fahrenheit.items()}

print(celsius_dict)

{'t1': -34.44444444444444, 't2': -28.88888888888889, 't3': -23.333333333333336, 't4': -17.77777777777778}

3- In cryptography, a Caesar cipher is a very simple encryption techniques in which each letter in the plain text is replaced by a
letter some fixed number of positions down the alphabet. For example,
with a shift of 3, A would be replaced by D, B would become E, and so on.
The method is named after Julius Caesar, who used it to communicate with his generals. 
ROT-13 ("rotate by 13 places") is a widely used example of a Caesar cipher where the shift is 13.
In Python, the key for ROT-13 may be represented by means of the following dictionary:


```
key = {'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 
       'i':'v', 'j':'w', 'k':'x', 'l':'y', 'm':'z', 'n':'a', 'o':'b', 'p':'c', 
       'q':'d', 'r':'e', 's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k',
       'y':'l', 'z':'m', 'A':'N', 'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 
       'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 
       'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I', 
       'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}
```

Your task in this exercise is to implement an encoder/decoder of ROT-13.
Once you're done, you will be able to read the following secret message:
**Pnrfne pvcure? V zhpu cersre Pnrfne fnynq!**
Note that since English has 26 characters, your ROT-13 program will be able to both encode and decode texts written in English.

In [ ]:
list_string = list('hello world')
print(list_string)
''.join(list_string)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

'hello world'

In [ ]:
d = {'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 
       'i':'v', 'j':'w', 'k':'x', 'l':'y', 'm':'z', 'n':'a', 'o':'b', 'p':'c', 
       'q':'d', 'r':'e', 's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k',
       'y':'l', 'z':'m', 'A':'N', 'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 
       'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 
       'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I', 
       'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}

def rot_decoder(x):
    new =[]
    for i in x:
        new.append(d.get(i,i))
    print(''.join(new))
    
rot_decoder('Pnrfne pvcure? V zhpu cersre Pnrfne fnynq!')

# Our decoder function can also encode the message since we have 26 characters. But in case if isn't you can use below strategy. 
def rot_encoder(x):
    key_inverse = { v:k for k,v in d.items()} 
    for i in x:
        new.append(d.get(i,i))
    print(''.join(new))

rot_decoder('Caesar cipher? I much prefer Caesar salad!')

Caesar cipher? I much prefer Caesar salad!
Pnrfne pvcure? V zhpu cersre Pnrfne fnynq!

In [ ]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.

4-Write a program that maps a list of words into a list of integers representing the lengths of the correponding words. Write it in three different ways: 
*  1) using the higher order function map() and lambda
*  2) using only map()
*  3) using list comprehensions.

In [ ]:
l = ['apple', 'orange', 'cat']

#1
print(list(map( lambda x : len(x), l)))

#2
print(list(map( len,  l)))

#3
print([ len(i) for i in l])

[5, 6, 3]
[5, 6, 3]
[5, 6, 3]

5- Represent a small bilingual lexicon as a Python dictionary in the following fashion {"merry":"god", "christmas":"jul", "and":"och", "happy":gott", "new":"nytt", "year":"år"} and use it to translate your Christmas cards from English into Swedish. Use the higher order function map() to write a function translate() that takes a list of English words and returns a list of Swedish words.

**Hint** : you can use str.split() to return a list of the words in your sentence

In [ ]:
help(str.split)

Help on method_descriptor:

split(...)
    S.split(sep=None, maxsplit=-1) -> list of strings

    Return a list of the words in S, using sep as the
    delimiter string.  If maxsplit is given, at most maxsplit
    splits are done. If sep is not specified or is None, any
    whitespace string is a separator and empty strings are
    removed from the result.

In [ ]:
def translate(x):
    d ={"merry":"god", 
        "christmas":"jul",
        "and":"och", 
        "happy":"gott",
        "new":"nytt",
        "year":"ar"}
    l = x.split()
    print(list(map( lambda x: d[x], l)))
    

translate("merry new christmas and happy new year")

['merry', 'new', 'christmas', 'and', 'happy', 'new', 'year']
['god', 'nytt', 'jul', 'och', 'gott', 'nytt', 'ar']

6- Implement the higher order functions map(), filter()).
(They are built-in but writing them yourself may be a good exercise.)

In [ ]:
def map1(f, l):
    new=[]
    for i in l:
        new.append(f(i))
    return new
        
    
def filter1(f, l):
    new =[]
    for i in l:
        if f(i) == True:
            new.append(i)
    return new

7- Define a function is_palindrome() that recognizes palindromes (i.e. words that look the same written backwards). For example, is_palindrome("radar") should return True.

In [ ]:
def is_palindrome(x):
    if x == x[::-1]:
        print(True)
    else:
        print(False)
        
is_palindrome("aradar")

False

8 - Write a function is_member() that takes a value (i.e. a number, string, etc) x and a list of values a, and returns True if x is a member of a, False otherwise. (Note that this is exactly what the in operator does, but for the sake of the exercise you should pretend Python did not have this operator.)

In [ ]:
def is_member(x, a):
    if x in a:
        print(True)
    else:
        print(False)
        
def is_member2(x,a):
    status =0
    for i in a:
        if x==i:
            print(True)
            status =1
    if status ==0:
        print(False)     

is_member('c',['a',1,2,3,'b'])
is_member2('a',['a',1,2,3,'b'])

False
True

9- Define a function overlapping() that takes two lists and returns True if they have at least one member in common, False otherwise. You may use your is_member() function, or the in operator, but for the sake of the exercise, you should (also) write it using two nested for-loops

In [ ]:
def overlapping(m,n):
    l1 =len(m)
    l2 = len(n)    
    for i in range(l1):
        for j in range(l2):
            if m[i]==n[j]:
                status =1
                break
        else:
            status =0
    if status ==1:
        print(True)
    else:
        print(False)
         
    
overlapping(['a','e'], ['c','d'])

False

10 - Define a function max_of_three() that takes three numbers as arguments and returns the largest of them.

10bis - Suppose we have a much larger number of numbers, or suppose we cannot tell in advance how many they are? Write a function max_in_list() that takes a list of numbers and returns the largest one.

In [ ]:
#10
def max_of_three(a,b,c):
    if a>b and a>c:
        print(a) 
    elif b>c:
        print(b) 
    else:
        print(c) 
max_of_three(0,15,2)

#10bis
def max1(l):
    max =0
    for i in range(len(l)-1):
        if l[i] > l[i+1] and l[i]>max:
            max = l[i]
        elif l[i+1]>max:
            max = l[i+1]
    print(max)
max1([1,2,34,4,6,345])

15
345


11- 
"99 Bottles of Beer" is a traditional song in the United States and Canada. It is popular to sing on long trips, as it has a very repetitive format which is easy to memorize, and can take a long time to sing. The song's simple lyrics are as follows:

99 bottles of beer on the wall, 99 bottles of beer.
Take one down, pass it around, 98 bottles of beer on the wall.

The same verse is repeated, each time with one fewer bottle. The song is completed when the singer or singers reach zero. Your task here is write a Python program capable of generating all the verses of the song.

In [ ]:
def song():
    print('99 bottles of beer on the wall, 99 bottles of beer')
    for i in range(99)[::-1]:
        print('Take one down, pass it around,' + str(i) +   ' bottles of beer on the wall.')
    
song()

99 bottles of beer on the wall, 99 bottles of beer
Take one down, pass it around,98 bottles of beer on the wall.
Take one down, pass it around,97 bottles of beer on the wall.
Take one down, pass it around,96 bottles of beer on the wall.
Take one down, pass it around,95 bottles of beer on the wall.
Take one down, pass it around,94 bottles of beer on the wall.
Take one down, pass it around,93 bottles of beer on the wall.
Take one down, pass it around,92 bottles of beer on the wall.
Take one down, pass it around,91 bottles of beer on the wall.
Take one down, pass it around,90 bottles of beer on the wall.
Take one down, pass it around,89 bottles of beer on the wall.
Take one down, pass it around,88 bottles of beer on the wall.
Take one down, pass it around,87 bottles of beer on the wall.
Take one down, pass it around,86 bottles of beer on the wall.
Take one down, pass it around,85 bottles of beer on the wall.
Take one down, pass it around,84 bottles of beer on the wall.
Take one down, pass it around,83 bottles of beer on the wall.
Take one down, pass it around,82 bottles of beer on the wall.
Take one down, pass it around,81 bottles of beer on the wall.
Take one down, pass it around,80 bottles of beer on the wall.
Take one down, pass it around,79 bottles of beer on the wall.
Take one down, pass it around,78 bottles of beer on the wall.
Take one down, pass it around,77 bottles of beer on the wall.
Take one down, pass it around,76 bottles of beer on the wall.
Take one down, pass it around,75 bottles of beer on the wall.
Take one down, pass it around,74 bottles of beer on the wall.
Take one down, pass it around,73 bottles of beer on the wall.
Take one down, pass it around,72 bottles of beer on the wall.
Take one down, pass it around,71 bottles of beer on the wall.
Take one down, pass it around,70 bottles of beer on the wall.
Take one down, pass it around,69 bottles of beer on the wall.
Take one down, pass it around,68 bottles of beer on the wall.
Take one down, pass it around,67 bottles of beer on the wall.
Take one down, pass it around,66 bottles of beer on the wall.
Take one down, pass it around,65 bottles of beer on the wall.
Take one down, pass it around,64 bottles of beer on the wall.
Take one down, pass it around,63 bottles of beer on the wall.
Take one down, pass it around,62 bottles of beer on the wall.
Take one down, pass it around,61 bottles of beer on the wall.
Take one down, pass it around,60 bottles of beer on the wall.
Take one down, pass it around,59 bottles of beer on the wall.
Take one down, pass it around,58 bottles of beer on the wall.
Take one down, pass it around,57 bottles of beer on the wall.
Take one down, pass it around,56 bottles of beer on the wall.
Take one down, pass it around,55 bottles of beer on the wall.
Take one down, pass it around,54 bottles of beer on the wall.
Take one down, pass it around,53 bottles of beer on the wall.
Take one down, pass it around,52 bottles of beer on the wall.
Take one down, pass it around,51 bottles of beer on the wall.
Take one down, pass it around,50 bottles of beer on the wall.
Take one down, pass it around,49 bottles of beer on the wall.
Take one down, pass it around,48 bottles of beer on the wall.
Take one down, pass it around,47 bottles of beer on the wall.
Take one down, pass it around,46 bottles of beer on the wall.
Take one down, pass it around,45 bottles of beer on the wall.
Take one down, pass it around,44 bottles of beer on the wall.
Take one down, pass it around,43 bottles of beer on the wall.
Take one down, pass it around,42 bottles of beer on the wall.
Take one down, pass it around,41 bottles of beer on the wall.
Take one down, pass it around,40 bottles of beer on the wall.
Take one down, pass it around,39 bottles of beer on the wall.
Take one down, pass it around,38 bottles of beer on the wall.
Take one down, pass it around,37 bottles of beer on the wall.
Take one down, pass it around,36 bottles of beer on the wall.
Take one down, pass it around,35 bottles of beer on the wall.
Take one down, pass it around,34 bottles of beer on the wall.
Take one down, pass it around,33 bottles of beer on the wall.
Take one down, pass it around,32 bottles of beer on the wall.
Take one down, pass it around,31 bottles of beer on the wall.
Take one down, pass it around,30 bottles of beer on the wall.
Take one down, pass it around,29 bottles of beer on the wall.
Take one down, pass it around,28 bottles of beer on the wall.
Take one down, pass it around,27 bottles of beer on the wall.
Take one down, pass it around,26 bottles of beer on the wall.
Take one down, pass it around,25 bottles of beer on the wall.
Take one down, pass it around,24 bottles of beer on the wall.
Take one down, pass it around,23 bottles of beer on the wall.
Take one down, pass it around,22 bottles of beer on the wall.
Take one down, pass it around,21 bottles of beer on the wall.
Take one down, pass it around,20 bottles of beer on the wall.
Take one down, pass it around,19 bottles of beer on the wall.
Take one down, pass it around,18 bottles of beer on the wall.
Take one down, pass it around,17 bottles of beer on the wall.
Take one down, pass it around,16 bottles of beer on the wall.
Take one down, pass it around,15 bottles of beer on the wall.
Take one down, pass it around,14 bottles of beer on the wall.
Take one down, pass it around,13 bottles of beer on the wall.
Take one down, pass it around,12 bottles of beer on the wall.
Take one down, pass it around,11 bottles of beer on the wall.
Take one down, pass it around,10 bottles of beer on the wall.
Take one down, pass it around,9 bottles of beer on the wall.
Take one down, pass it around,8 bottles of beer on the wall.
Take one down, pass it around,7 bottles of beer on the wall.
Take one down, pass it around,6 bottles of beer on the wall.
Take one down, pass it around,5 bottles of beer on the wall.
Take one down, pass it around,4 bottles of beer on the wall.
Take one down, pass it around,3 bottles of beer on the wall.
Take one down, pass it around,2 bottles of beer on the wall.
Take one down, pass it around,1 bottles of beer on the wall.
Take one down, pass it around,0 bottles of beer on the wall.

12-Define a function generate_n_chars() that takes an integer n and a character c and returns a string, n characters long, consisting only of c:s. For example, generate_n_chars(5,"x") should return the string "xxxxx". (Python is unusual in that you can actually write an expression 5 * "x" that will evaluate to "xxxxx". For the sake of the exercise you should ignore that the problem can be solved in this manner.)

In [ ]:
def generate_n_chars(n,x):
    k=[]
    for i in range(n):
        k.append(x)
    print(''.join(k))
    
generate_n_chars( 5, 't')

ttttt

13 - We have an existing dictionary that maps US states to their capitals.
1. Print the state capital of Idaho
2. Print all states.
3. Print all capitals.
4. Create a single string 'Alabama -> Montgomery, Alaska -> Juneau, ...'
5. Ensure the string you created in 4. is alphabetically sorted by state using the sorted buil-in module
7. Now we want to add the reverse look up, given the name of a capital what state
is it in?
Implement the function def get_state(capital): below so it returns the state.

In [ ]:
import sys

STATES_CAPITALS = {
    'Alabama' : 'Montgomery',
    'Alaska' : 'Juneau',
    'Arizona' : 'Phoenix',
    'Arkansas': 'Little Rock',
    'California' : 'Sacramento',
    'Colorado' : 'Denver',
    'Connecticut' : 'Hartford',
    'Delaware' : 'Dover',
    'Florida' : 'Tallahassee',
    'Georgia' : 'Atlanta',
    'Hawaii' : 'Honolulu',
    'Idaho' : 'Boise',
    'Illinois' : 'Springfield',
    'Indiana' : 'Indianapolis',
    'Iowa' : 'Des Moines',
    'Kansas' : 'Topeka',
    'Kentucky' : 'Frankfort',
    'Louisiana' : 'Baton Rouge',
    'Maine' : 'Augusta',
    'Maryland' : 'Annapolis',
    'Massachusetts' : 'Boston',
    'Michigan' : 'Lansing',
    'Minnesota' : 'Saint Paul',
    'Mississippi' : 'Jackson',
    'Missouri' : 'Jefferson City',
    'Montana' : 'Helena',
    'Nebraska' : 'Lincoln',
    'Nevada' : 'Carson City',
    'New Hampshire' : 'Concord',
    'New Jersey' : 'Trenton',
    'New Mexico' : 'Santa Fe',
    'New York' : 'Albany',
    'North Carolina' : 'Raleigh',
    'North Dakota' : 'Bismarck',
    'Ohio' : 'Columbus',
    'Oklahoma' : 'Oklahoma City',
    'Oregon' : 'Salem',
    'Pennsylvania' : 'Harrisburg',
    'Rhode Island' : 'Providence',
    'South Carolina' : 'Columbia',
    'South Dakota' : 'Pierre',
    'Tennessee' : 'Nashville',
    'Texas' : 'Austin',
    'Utah' : 'Salt Lake City',
    'Vermont' : 'Montpelier',
    'Virginia' : 'Richmond',
    'Washington' : 'Olympia',
    'West Virginia' : 'Charleston',
    'Wisconsin' : 'Madison',
    'Wyoming' : 'Cheyenne',
}


def capital_of_Idaho():
    # Your code here
    pass

def all_states():
    # Your code here
    pass

def all_capitals():
    # Your code here
    pass

def states_capitals_string():
    # Your code here
    pass



def get_state(capital):
    pass

In [ ]:
def capital_of_Idaho():
    return STATES_CAPITALS['Idaho']

def all_states():
    return STATES_CAPITALS.keys()

def all_capitals():
    return STATES_CAPITALS.values()

def states_capitals_string():
    l = []
    for k in sorted(STATES_CAPITALS.keys()):
        l.append('%s -> %s' % (k, STATES_CAPITALS[k]))
    return ', '.join(l)

# Pre-compute the reverse lookup, this is done a module import time
# What can go wrong here? 
CAPITALS_STATES = {v : k for k, v in STATES_CAPITALS.items()}

def get_state(capital):
    """A better solution in that we have pre-compute the reverse lookup and
    access that to get the capital. This will scale.
    We still do not have a good story for duplicate capital names however.
    """
    return CAPITALS_STATES[capital]

In [ ]:
get_state('Juneau')

'Alaska'

In [ ]:
states_capitals_string()

'Alabama -> Montgomery, Alaska -> Juneau, Arizona -> Phoenix, Arkansas -> Little Rock, California -> Sacramento, Colorado -> Denver, Connecticut -> Hartford, Delaware -> Dover, Florida -> Tallahassee, Georgia -> Atlanta, Hawaii -> Honolulu, Idaho -> Boise, Illinois -> Springfield, Indiana -> Indianapolis, Iowa -> Des Moines, Kansas -> Topeka, Kentucky -> Frankfort, Louisiana -> Baton Rouge, Maine -> Augusta, Maryland -> Annapolis, Massachusetts -> Boston, Michigan -> Lansing, Minnesota -> Saint Paul, Mississippi -> Jackson, Missouri -> Jefferson City, Montana -> Helena, Nebraska -> Lincoln, Nevada -> Carson City, New Hampshire -> Concord, New Jersey -> Trenton, New Mexico -> Santa Fe, New York -> Albany, North Carolina -> Raleigh, North Dakota -> Bismarck, Ohio -> Columbus, Oklahoma -> Oklahoma City, Oregon -> Salem, Pennsylvania -> Harrisburg, Rhode Island -> Providence, South Carolina -> Columbia, South Dakota -> Pierre, Tennessee -> Nashville, Texas -> Austin, Utah -> Salt Lake City, Vermont -> Montpelier, Virginia -> Richmond, Washington -> Olympia, West Virginia -> Charleston, Wisconsin -> Madison, Wyoming -> Cheyenne'

14 -  Understanding Args and Kwargs
What will be the output from the following function calls



```
def f(x, y, z):
    return (x + y) / float(z)

print f(10, 5, 3)

x = 20
y = 10
z = 3

# using kwargs
print f(x=x, y=y, z=z)

# using args and kwargs
print f(y, x, z=2)

# using args and kwargs out of order
print f(z=3, y=x, x=y)

# all x
print f(z=x, y=x, x=x)

"""
With defaults
"""

def ff(x=20, y=10, z=3):
    # uncomment for debug
    # print "x=%s y=%s, z=%s" % (x, y, z)
    return (x + y) / float(z)

print ff(10, 5, 3)

# using args
print ff(10)

# using kwargs
print ff(z=10)

x = 20
print ff(z=x, y=x)
```

In [ ]:
def f(x, y, z):
    return (x + y + z)

print(f(10, 5, 3))

18 
x = 20
y = 10
z = 3

# using kwargs
print(f(x=x, y=y, z=z))
33
# using args and kwargs
print(f(y, x, z=2))
32
# using args and kwargs out of order
print(f(z=3, y=x, x=y))
33
# all x
print(f(z=x, y=x, x=x))
60
"""
With defaults
"""

def ff(x=20, y=10, z=3):
    # uncomment for debug
    # print "x=%s y=%s, z=%s" % (x, y, z)
    return (x + y + z)

print(ff(10, 5, 3))
18
# using args
print(ff(10))
23
# using kwargs
print(ff(z=10))
40
x = 20
print(ff(z=x, y=x))
60

18
33
32
33
60
18
23
40
60